#name {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	height: 90px;
	margin: 0px;
	padding: 25px 40px;
	background: #4faaa5;
	color: white;
	float: left;
	font-size: 30px;
}

#name::after {
    content: " ";
    clear: both;
}

a:link,
a:visited {
	color: #777777;
	text-decoration: none;
}

a:hover {
	color: #4faaa5;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

.centerLinks {
    display: inline-flex;
    align-items: center;
    justify-content: space-between; 

}

#picture {
    position: relative;
    max-width: 220px;
}

#center {
    text-align: center;

.clearfix {
    overflow: auto;
}
