body {
	background-image: url(../images/background.png);
}

#topBar {
	background: white;
	border-bottom: 2px solid lightgray;
}

#navContainer {
	max-width: 960px;
}

#mainSection {
	background: white;
	border: 1px solid gainsboro;
	max-width: 960px;
	position: relative;
	top: 40px;
	margin-bottom: 80px;
	padding-left: 46px;
	padding-right: 46px;
}


.nameDiv {
	display: flex;
	justify-content: center;
	padding: 0px;
}

#name {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	height: 90px;
	width: 100%;
	margin: 0px;
	padding: 25px 40px;
	background: #4faaa5;
	color: white;
	float: left;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

#name::after {
    content: " ";
    clear: both;
}

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	background: white;
}

a:link,
a:visited {
	color: #777777;
	text-decoration: none;
}

a:hover {
	color: #4faaa5;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

.centerLinks {
    display: inline-flex;
    align-items: center;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px;
}

.link {
	padding: 10px;
	font-size: 18px;
}

.vl {
	color: gainsboro;
	font-size: 18px;
	font-weight: 200;
}

.aboutMeLine {
	border-bottom: 3px solid gainsboro;
	padding: 20px 0px 20px 0px;
	margin-bottom: 15px;
}

#about {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: 600;
	position: relative;
	color: #4faaa5;
	font-size: 30px;
}

#pictureDiv {
	display: flex;
	justify-content: center;
	float: left;
}

#picture {
    position: relative;
	max-width: 220px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.paragraph {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	line-height: 2rem;
}

#center {
    text-align: center;
}

footer {
	background: #666666;
	color: white;
	text-align: center;
	border-top: 8px solid #4faaa5;
	position: relative;
	bottom: 0px;
	height: 3.8em;
}

#copyright {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: lightgray;
	font-size: 12px;
	position: relative;
	top: 20px;
	margin-bottom: 0px;
}