body {
	background-image: url(../images/background.png);
}

#topBar {
	background: white;
	border-bottom: 2px solid lightgray;
}

#navContainer {
	max-width: 960px;
}

#mainSection {
	background: white;
	border: 1px solid gainsboro;
	max-width: 960px;
	position: relative;
	top: 40px;
	margin-bottom: 80px;
	padding-left: 46px;
	padding-right: 46px;
}


.nameDiv {
	display: flex;
	justify-content: center;
	padding: 0px;
}

#name {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	height: 90px;
	width: 100%;
	margin: 0px;
	padding: 25px 40px;
	background: #4faaa5;
	color: white;
	float: left;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
}

#name::after {
    content: " ";
    clear: both;
}

nav {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
	background: white;
}

a:link,
a:visited {
	color: #777777;
	text-decoration: none;
}

a:hover {
	color: #4faaa5;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
}

.centerLinks {
    display: inline-flex;
    align-items: center;
	justify-content: space-between;
	padding-left: 60px;
	padding-right: 60px;
}

.link {
	padding: 10px;
	font-size: 18px;
}

.vl {
	color: gainsboro;
	font-size: 18px;
	font-weight: 200;
}

.aboutMeLine {
	border-bottom: 3px solid gainsboro;
	padding: 30px 0px 20px 0px;
	margin-bottom: 30px;
}

#about {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: 600;
	position: relative;
	color: #4faaa5;
	font-size: 30px;
}

#pictureDiv {
	display: flex;
	justify-content: center;
	float: left;
}

#picture {
    position: relative;
	max-width: 220px;
	max-height: 220px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.paragraph {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	line-height: 2rem;
}

#center {
    text-align: center;
}

footer {
	background: #666666;
	color: white;
	text-align: center;
	border-top: 8px solid #4faaa5;
	bottom: 0px;
	height: 3.8em;
}

#copyright {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: lightgray;
	font-size: 12px;
	position: relative;
	top: 25px;
	margin-bottom: 0px;
}

/* PORTFOLIO STYLING BELOW HERE ------------------------------------------------------------ */

#portfolioRow {
	display: flex;
	justify-content: center;
}

.container2 {
	max-height: 210px;
	position: relative;
	width: 100%;
	max-width: 275px;
	display: inline-block;
	margin: 5px 15px 15px 0px;
	overflow: auto;
}

.container2 img {
	width: 100%;
	height: auto;
}

.container2 .btn {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	position: absolute;
	width: 100%;
	top: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background: #4faaa5;
	color: white;
	font-size: 20px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	text-align: center;
}

.container2 .btn:hover {
	background: #47c7c0;
}

.container2 .btn:active {
	background: #8fded9;
}

.last {
	margin-bottom: 30px;
}

/* CONTACT PAGE STYLING BELOW HERE --------------------------------------------------------------------- */

#formDiv {
	/* border: 2px solid purple; */
	width: 100%;
}

#contactwords {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	max-width: 97%;
	position: relative;
	left: 12px;
	padding: 0px;
	margin: 0px;
	line-height: 2rem;
}

#input {
	font-size: 16px;
	width: 97%;
	position: relative;
	left: 12px;
	padding: 5px 0px 5px 10px;
	margin-bottom: 10px;
	border: 1px solid gainsboro;
}

#messageinput {
	font-size: 16px;
	width: 97%;
	max-width: 97%;
	height: 200px;
	position: relative;
	left: 12px;
	padding: 5px 0px 0px 10px;
	margin-bottom: 17px;
	overflow: auto;
	resize: both;
	border: 1px solid gainsboro;
}

#input[type="button"],
[type=submit] {
	background: #4faaa5;
	color: white;
	font-size: 18px;
	height: 40px;
	width: 120px;
	position: relative;
	border: none;
	left: 30px;
	padding-bottom: 10px;
	padding-top: 6px;
	margin-bottom: 30px;
	cursor: pointer;
}

#input[type="button"],
[type=submit]:hover {
	background: #47c7c0;
}

#input[type="button"],
[type=submit]:active {
	background: #8fded9;
}


/* IPAD MEDIA QUERY TO FIX FOOTER POSITION ----------------------------------------------------------- */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	
	footer {
		position: fixed;
		bottom: 0px;
		width: 100%;
	}
}


/* IPHONE MEDIA QUERY TO FIX LINK POSITION --------------------------------------------------------------- */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

	.centerLinks {
		padding-left: 40px;
	}
}
